@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition: all .3s ease;
}

.container {
    padding: 10px 7%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #333841;
    color: #fff;
    margin-bottom: 25px;
}

header h1 {
    font-size: 22px;
    font-weight: 300;
}

.add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
}

.message__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #FFF0CC;
    color: #C5B080;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 15px;
}

.message {
    font-size: 15px;
    font-weight: 500;
}

.message__button {
    border: none;
    background-color: transparent;
    color: #C5B080;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.message__button:hover {
    cursor: pointer;
}

.add form {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.add form input, textarea {
    width: 100%;
    padding: 10px 7px 7px;
    font-size: 14px;
    color: #333841;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

.add form textarea {
    height: 50px;
    resize: none;
}

.add form input[type="submit"] {
    padding: 10px;
    background-color: #1D9343;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin: 0;
}

.add form input[type="submit"]:hover {
    background-color: #21c054;
    cursor: pointer;
}

@media screen and (min-width: 1200px) {
    .container {
        padding: 10px 84px;
    }
}